/* dùng chung (common)  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;

}
html{
    scroll-behavior: smooth;
    font-family:  Helvetica,Arial, sans-serif;
}

/* Khoang cach margin top */
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.mt-32{
    margin-top: 32px!important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content:"";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}   
.col-third{
    width: cal(100% /3);
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}

/* main */
#wrapper{
overflow: hidden;
}
#nav, .subnav{
    list-style: none;
}
#header{
    height : 46px;
    background-color: #000;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 1;
    /* overflow: hidden; */
}
#nav{
    display: inline-block;
 }
#nav li {
    position: relative;
    
}
#nav li a {
    text-decoration: none;
    line-height: 46px;
    display: block;
    padding: 0 24px;
    color:#fff;
    }
#nav > li {
    display: inline-block;
    }
#nav > li > a {
    color: #fff;
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px; 
    display: inline-block;
    text-transform: uppercase;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
#nav .subnav li {
    display: block;
}
#nav .subnav a {
    color: #000;
    padding: 0 25px;
    line-height: 38px;
    }
#nav .subnav li a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    line-height: 22px;
    padding: 8px 16px;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
color: #000;
background-color: #ccc;
display: block;
}

#nav .nav-arrow-down{
font-size: 12px;
}
#header .mobile-menu-btn,
#header .search-btn{
float:right;
padding: 0 21px;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .search-btn:hover{
    background-color: rgb(255, 4, 4);
    cursor: pointer;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#slider{
    position: relative;
margin-top: 46px;
padding-top: 50%;
background: url('./assests/img/slider/slider1.jpg') top center / cover no-repeat;
}
#slider .text-content{
    bottom: 47px;
    position: absolute;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#slider .text-heading{
    color: #fff;
    font-weight:500 ;
    font-size: 24px;
}
#slide .text-description{
    font-weight: 15px;
    margin-top: 25px;
}
#content{

}
#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 18px;
}
#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 5px;
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    /* Line_height chiều cao của 1 dòng */
    line-height: 1.4;
}
#content .member-list{
    margin-top: 48px;
}
#content .member-item{
    float: left;
    text-align: center;
    width: calc(100%/3);
}
#content .member-name{
    font-size: 15px;
    text-align: center;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;
}
/* Tour section */
.tour-section{
    background-color: #000;}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out{
background-color: #f44336;
color: #fff;
padding: 3px 4px;
margin-left: 16px;
}
.tickets-list .quanlity{
float: right;
width: 24px;
height: 24px;
background-color: #000;
color: #fff;
text-align: center;
border-radius: 50%;
line-height: 24px;
margin-top: -3px;
}
/* Place */
.place-list{
    margin-top: 16px;
    /* margin-bottom: 48px; */
}
.place-item{

width: calc(100%/3);

}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
  font-weight: 600;

}

.place-time{
margin-top: 15px;
color: #757575;
}
.place_dec{
margin-top: 20px;
line-height: 2;
}

.btn{
color: #fff;
background-color: #000;
text-decoration: none;
padding: 11px 16px;
margin-top: 15px;
display: inline-block;
border: none;
}
.btn:hover{
    background-color: #ccc;
    color: #000;
}
/* end Place */
.modal.open{
    display: flex;
}
.modal{
position: fixed;
display: none;
/* display: flex; */
align-items: center;
justify-content: center;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0,0,0,0.4);
}
.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-container{
background: #fff;
max-width: calc(100% - 16px);
min-height:200px ;
position: relative;
animation: modalFadeIn ease .5s;
}
.modal-close{
    position: absolute;
    right: 0;
    top:0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover{
  opacity: 1;  
}
.modal-heading-icon .ti-bag{
    margin: 16px;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    margin-bottom: 12px;
    font-size: 15px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-ticket{
    background: #009688;
    background-origin: none;
    width: 100%;
    color: #fff;
    padding: 18px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
#buy-ticket:hover{
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;
   
}
.modal-footer a{
    color: #2196F3;
}

@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}
/* Footer section */
/* Contract from  */
.contract-content{
    margin-top: 48px;
}
.contract-info{
    font-size: 18px;
    line-height: 1.5;
}
.contract-info a{
    color: rgb(65, 61, 255);
    opacity: 0.8;
}
.contract-info a:hover{
    opacity: 1;
    
}
.contract-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;

}
.contract-form{
    font-size: 15px;
}
.contract-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
   
}
/* map img */
.map-section img{
    width: 100%;
}
/* End Contract from */
#footer{
padding: 64px 16px;
text-align: center;
}
#footer .socials-list{
    font-size: 22px;
}
#footer .socials-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copy-right a:hover,
#footer .socials-list a:hover{
    color: rgba(0,0,0,0.4);
}
#footer .copy-right{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copy-right a{
    color: rgba(0, 0, 0, 0.6);
}